* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: sans-serif;
}

.container {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    padding: 1rem;
    background: crimson;
    text-align: center;
    height: 100%;
    border: solid 2px #222;
}

.box-orange {
    padding: 1rem;
    background: orange;
    text-align: center;
    border: solid 2px #222;
    height: 100%;
}